.menu-btn {
  position: absolute;
  z-index: 3;
  right: 25px;
  top: 25px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  z-index: 4; }
  .menu.show {
    visibility: visible; }
  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: right;
    width: 20%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #0a0626;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-items {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-items.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-items.current > a {
      color: #07456f; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #07456f; }

.nav-items:nth-child(1) {
  transition-delay: 0.1s; }

.nav-items:nth-child(2) {
  transition-delay: 0.2s; }

.nav-items:nth-child(3) {
  transition-delay: 0.3s; }

.nav-items:nth-child(4) {
  transition-delay: 0.4s; }

.navbar {
  display: flex;
  overflow: hidden;
  background-color: #0f0a3c;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }
  .navbar-title {
    text-decoration: none;
    margin-top: auto;
    margin-left: 2rem;
    margin-right: auto;
    margin-bottom: auto;
    text-align: left;
    font-size: 40px;
    font-weight: 400; }
  .navbar-link {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    padding: 1rem 1rem;
    font-weight: 300;
    transition: all 0.5s ease-out; }
    .navbar-link:hover {
      background: #cdffeb;
      color: #000; }

* {
  box-sizing: border-box; }

body {
  background: #0f0a3c;
  color: white;
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/aquarium-bg.jpg);
    background-attachment: fixed;
    background-size: cover; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }

a {
  color: white;
  text-decoration: none; }

.text-secondary {
  color: #009f9d; }

main {
  margin: 0;
  min-height: calc(100vh - 60px);
  z-index: -1; }
  main#exhibition {
    padding: 0;
    background: white;
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: black; }
  main#tickets {
    margin-top: 6rem;
    background: rgba(5, 54, 87, 0.6);
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: white; }
  main#faqs-page {
    margin: 6rem;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: white; }

.home-info {
  display: flex;
  flex-wrap: wrap; }
  .home-info .img {
    width: 30%; }
  .home-info .text {
    width: 70%;
    background: #140e52;
    padding: 0.5rem;
    border-bottom: #07456f 5px solid; }
  .home-info .text-4 {
    width: 100%; }

.pimg1,
.pimg2,
.pimg3,
.pimg4 {
  position: relative;
  opacity: 0.80;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.pimg1 {
  background-image: url(../img/parallax/surface.jpg);
  min-height: 100vh; }

.pimg2 {
  background-image: url(../img/parallax/medium.jpg);
  min-height: 400px; }

.pimg3 {
  background-image: url(../img/parallax/floor.jpg);
  min-height: 400px; }

.pimg4 {
  background-image: url(../img/parallax/underwater.jpg);
  min-height: 100vh;
  opacity: 1; }

.section {
  text-align: center;
  padding: 50px 80px; }
  .section-light {
    background-color: #cdffeb;
    color: #000; }
  .section-dark {
    background-color: #009f9d;
    color: white; }
  .section-darkest {
    background-color: #07456f;
    color: white; }

.ptext {
  opacity: 1;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase; }
  .ptext .border {
    background-color: #0f0a3c;
    color: white;
    padding: 20px; }

.tickets-info {
  z-index: -1;
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'timetable prices';
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  background-color: rgba(7, 69, 111, 0.6);
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .tickets-info h1 {
    background-color: rgba(0, 159, 157, 0.6);
    color: white;
    padding: 1rem; }
  .tickets-info div {
    margin: auto; }
  .tickets-info table {
    margin: auto; }
  .tickets-info td {
    text-align: center;
    padding: 0.5rem; }
  .tickets-info .prices {
    grid-area: prices;
    padding-bottom: 1rem;
    padding-top: 1rem; }
    .tickets-info .prices .adults {
      display: inline-block; }
    .tickets-info .prices .children {
      display: inline-block; }
  .tickets-info .timetable {
    grid-area: timetable; }

.faqs {
  z-index: -1;
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'item1 item2 item3' 'item4 item5 item6';
  grid-template-columns: repeat(3, 1fr); }
  .faqs .faqs.item {
    background-color: rgba(7, 69, 111, 0.9); }
  .faqs .item1 {
    grid-area: item1; }
  .faqs .item2 {
    grid-area: item2; }
  .faqs .item3 {
    grid-area: item3; }
  .faqs .item4 {
    grid-area: item4; }
  .faqs .item5 {
    grid-area: item5; }

#main-footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  padding: 1rem;
  background: #0f0a3c;
  color: white; }

@media screen and (min-width: 1171px) {
  .menu-btn {
    visibility: hidden; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  ul.menu-nav {
    float: right;
    width: 35%;
    min-height: 0;
    transform: translate3d(0, -100%, 0); }
    ul.menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-btn {
    visibility: hidden; }
  .home-info .img {
    width: 100%; }
  .home-info .text {
    width: 100%; }
  .faqs {
    grid-template-areas: 'item1 item2' 'item3 item4' 'item5 item6';
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
    margin: 2rem; }
  ul.menu-nav {
    float: right;
    width: 50%;
    min-height: 0;
    transform: translate3d(0, -100%, 0); }
    ul.menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .home-info .img {
    width: 100%; }
  .home-info .text {
    width: 100%; }
  .navbar-link {
    visibility: hidden; }
  .navbar-title {
    font-size: 35px; }
  .menu-btn {
    visibility: visible; }
  main#tickets {
    padding: 2rem 2rem;
    padding-top: 6rem; }
  .tickets-info {
    grid-template-areas: 'timetable' 'prices';
    grid-template-columns: 1fr; }
  .faqs {
    padding: 0;
    grid-template-areas: 'item1' 'item2' 'item3' 'item4' 'item5' 'item6';
    grid-template-columns: 1fr; } }

@media screen and (max-width: 500px) {
  main {
    padding: 0.5rem; }
  main#tickets {
    padding: 0; }
  main#faqs-page {
    padding: 0; }
  ul.menu-nav {
    float: right;
    width: 100%;
    min-height: 0;
    transform: translate3d(0, -100%, 0); }
    ul.menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .navbar-link {
    visibility: hidden; }
  .menu-btn {
    visibility: visible; } }
