// Widescreens
@include mediaXl {
    .menu-btn {
        visibility: hidden;
    }

    main#home {
        padding-top: 4rem;
    }
}

// Desktops & Laptops
@include mediaLg {
    ul.menu-nav {
        float: right;
        width: 35%;
        min-height: 0;
        transform: translate3d(0, -100%, 0);

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-btn {
        visibility: hidden;
    }

    .home-info {
        .img {
            width: 100%;
        }

        .text {
            width: 100%;
        }
    }

    .faqs {
        grid-template-areas:
            'item1 item2'
            'item3 item4'
            'item5 item6';
        grid-template-columns: repeat(2,1fr);
    }
}

// Tablets & Small Laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;
    }

    main#tickets {
        padding: 2rem 2rem;
        padding-top: 6rem;
    }

    ul.menu-nav {
        float: right;
        width: 50%;
        min-height: 0;
        transform: translate3d(0, -100%, 0);

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .home-info {
        .img {
            width: 100%;
        }

        .text {
            width: 100%;
        }
    }

    .navbar-link {
        visibility: hidden;
    }

    .navbar-title {
        font-size: 35px;
    }

    .menu-btn {
        visibility: visible;
    }

    .tickets-info {
        grid-template-areas:
            'timetable'
            'prices';
        grid-template-columns: 1fr;
    }

    .faqs {
        grid-template-areas:
            'item1'
            'item2'
            'item3'
            'item4'
            'item5'
            'item6';
        grid-template-columns: 1fr;

        & .item {
            display: block;
        }
    }
}

// Smartphones
@include mediaSm {

    main#tickets {
        margin: 0.5rem;
        padding: 0;
        margin: 0;
    }

    main#home {
        padding: 0;
        margin: 0;
    }

    main#faqs-page {
        margin: 0.5rem;
        margin-top: 5rem;
        padding: 0;
    }

    ul.menu-nav {
        float: right;
        width: 100%;
        min-height: 0;
        transform: translate3d(0, -100%, 0);

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .navbar-link {
        visibility: hidden;
    }

    .menu-btn {
        visibility: visible;
    }
}